{% extends "store/base2.html" %}

{% block extra_head %}
<style>
  
  .fa-cog{
      color: #a8a8a8;
      font-size: 0.8rem;
  }
  .ml-auto.btn:hover span{
      color: #333;
  }
  .notification{
      background-color: #54e346;
      padding: 0px 10px;
  }
  .notification button.btn{
      background-color: inherit;
      box-shadow: none;
  }
  .close{
      font-size: 1rem;
      font-weight: normal;
      opacity: 1;
  }
  .close:hover{
      color: #EEE;
  }
  .alert-dismissible .close{
      position: unset;
  }
  .editors{
      position: relative;
  }
  .editors img{
      object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 5px solid #FFF;
  }
  #img1,#img2,#img3{
      position: absolute;
  }
  #img1{
      top: -15px;
      left: -50px;
  }
  #img2{
      top: -15px;
      left: -70px;
  }
  #img3{
      top: -15px;
      left: -90px;
  }
  div.text-muted{
      font-size: 0.9rem;
  }
  .table{
      overflow: hidden;
  }
  .table thead tr th{
      letter-spacing: 0.08rem;
      font-weight: normal;
  }
  .table tr td,
  .table tr th{
      border: none;
      text-align: center;
  }
  .table.activitites thead{
      border-bottom: 1px solid #54e346;
      font-size: 0.8rem;
      font-weight: 700;
  }
  .table thead{
      font-size: 0.8rem;
      font-weight: 700;
  }
  .table.activitites{
      position: relative;
  }
  .table.activitites thead::after{
      position: absolute;
      content: "RECENT ACTIVITIES";
      background: #FFF;
      padding: 0px 8px;
      top: 38px;
      letter-spacing: 0.08rem;
      font-size: 0.6rem;
      color: #54e346;
      font-weight: 600;
  }
  .table tbody td.item{
      font-family: 'Dancing Script', cursive;
      font-size: 1.2rem;
      font-weight: 900;
      text-align: left;
  }
  del{
      font-size: 0.85rem;
  }
  .red{
      color: #ff0000;
  }
  div.new{
      font-size: 0.7rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      letter-spacing: 0.08rem;
      background-color: #c7fdc3;
      color: #0e7504;
      display: inline-block;
  }
  .table tbody td.item img{
      width: 30px;
      height: 30px;
      object-fit: contain;
  }
  .table thead th.header{
      text-align: left;
  }
  .table tbody tr{
      padding-top: 10px;
      padding: 10px 20px;
      border-bottom: 1px solid #ccc;
      transition: all .4s ease-in-out;
  }
  .table tbody tr:last-child{
      border: none;
  }
  td .close,
  td .btn{
      opacity: 0;
      background: #fff;
      font-weight: 600;
      font-size: 0.9rem;
  }
  .table tbody tr:hover{
      transform: scale(1.004);
      box-shadow: 2px 2px 10px #a5a5a5;
      cursor: pointer;
      overflow: hidden;
      scroll-behavior: unset;
  }
  .table tbody tr:hover .close{
      font-size: 1.5rem;
      opacity: 1;
  }
  .table tbody tr:hover .close:hover{
      color: #aaa;
  }
  .table tbody tr:hover .btn{
      border: 1px solid #ddd;
      opacity: 1;
      background: #fff;
  }
  
  .table tbody tr:hover a{
      visibility: visible;
  }
  
  hr.items{
      position: relative;
      margin: 0;
      margin-top: 10px;
  }
  hr.items:after{
      position: absolute;
      content: "ALL ITEMS";
      background: #FFF;
      top: -9px;
      padding: 0px 8px;
      letter-spacing: 0.08rem;
      font-size: 0.6rem;
      font-weight: 600;
  }
  .subtotal{
      border-bottom-left-radius: 50px;
      background-color: #ccc;
  }
  .tag,.fa-shoppping-cart{
      font-size: 0.5rem;
  }
  
  @media(max-width:760px){
      .table.activitites thead::after{
          top: 35px;
      }
  }
  @media(max-width:576px){
      .table.activitites thead::after{
          top: 55px;
      }
      #img1{
          top: -8px;
          left: 0px;
      }
      #img2{
          top: -8px;
          left: 15px;
      }
      #img3{
          top: -8px;
          left: 30px;
      }
      .editors img{
          width: 20px;
          height: 20px;
          border: 1px solid #FFF;
      }
  }
  @media(max-width:400px){
      .notification{
          font-size: 0.7rem;
      }
      .close{
          font-size: 0.7rem;
          font-weight: normal;
          opacity: 1;
      }
      .wrapper{
          padding: 10px;
      }
  }
#stripeBtnLabel {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-variant: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  display: block;
}

#stripeBtn {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
  width: 100%
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
  background-color: #43458b;
}

.stripe-form {
  padding: 5px 30px;
}

#card-errors {
  height: 20px;
  padding: 4px 0;
  color: #fa755a;
}

.stripe-form-row {
  width: 100%;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.current-card-form {
  display: none;
}
.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

body{background: #f5f5f5}.rounded{border-radius: 1rem}.nav-pills .nav-link{color: #555}.nav-pills .nav-link.active{color: white}input[type="radio"]{margin-right: 5px}.bold{font-weight:bold}
</style>
{% endblock extra_head %}

{% block content %}
{% load static %}

<section class="p-4 p-md-5" style="
    background-image: url(https://img.freepik.com/premium-photo/3d-rendering-online-payment-mobile-illustration_270292-700.jpg?size=626&ext=jpg&ga=GA1.1.191663214.1676873523&semt=ais);
  ">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            
            <h6>Payment <i class="fa fa-lock" aria-hidden="true"></i></h6>
          </div>
            <div class="d-flex flex-row align-items-center mb-4 pb-1">
              <img class="img-fluid" src="{% static 'img/logol.png' %}" />
            </div>

            <div class="d-flex flex-row align-items-center mb-4 pb-1">
              <img class="img-fluid" src="https://www.everymedical.com.ng/wp-content/uploads/2020/07/paystack-ii.png" />
              
            </div>
            {% if card %}
              <div style="padding: 5px 30px;">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="use_default_card" id="use_default_card">
                  <label class="custom-control-label" for="use_default_card">Use default card:
                    **** **** **** {{ card.last4 }} 
                  <span>Exp: {{ card.exp_month }}/{{ card.exp_year }}</span></label>
                </div>
              </div>
            {% endif %}
            </div>
            <div id="table" class="bg-white rounded">
              <div class="d-md-flex align-items-md-center px-3 pt-3">
                  <div class="d-flex flex-column">
                      <div class="h4 font-weight-bold">Your Order</div>
                      <div class="text-muted">@{{ request.user}}</div>
                  </div>
                  <div class="ml-auto d-flex align-items-center">
                      <div class="editors">
                          
                      </div>
                      <div class="text-muted pl-md-0 pl-5">
                        order total is ₵{{order.get_total}}
                      </div>
                  </div>
              </div>
              <hr>
              <div class="table-responsive">
                  <table class="table activitites">
                      <thead>
                          <tr>
                            
                              <th scope="col" class="text-uppercase header">item</th>
                              <th scope="col" class="text-uppercase">Quantity</th>
                              <th scope="col" class="text-uppercase">price</th>
                              <th scope="col" class="text-uppercase">total</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for order_item in order.items.all %}
                          <tr>
                              <td class="item">
                                  <div class="d-flex">
                                      <img src="{{ order_item.item.image.url }}"
                                          alt="">
                                      <div>
                                        {{ order_item.item.title}}
                                          
                                      </div>
                              </td>
                              <td>{{ order_item.quantity }} x {{ order_item.item.title}}</td>
                              <td class="d-flex flex-column"><span class="red"></span>
                                ₵{{ order_item.get_final_price }}
                              </td>
                              <td class="font-weight-bold">
                                ₵{{ order_item.get_final_price }}
                                  
                              </td>
                          </tr>
                          {% endfor %}
                          
                      </tbody>
                  </table>
              </div>
            
              
              <script src="https://js.paystack.co/v1/inline.js"></script> 
              <hr>
              <div class="form-submit">
                <button class="btn btn-success btn-lg btn-block" type="submit" onclick="payWithPaystack()"> Pay </button>
              </div>
            
        </div>
      </div>
    </div>
  </div>
</section>
  
  {% include "scripts.html" %}

{% include 'store/footer.html' %}
{% endblock content %}

{% block extra_scripts %}

<script>
  function payWithPaystack(){
    var handler = PaystackPop.setup({
      key: 'pk_live_aff7f5dde971d075bfb97bb521710348d8e855b2',
      email: '{{user.email}}',
      currency: 'GHS', // Use GHS for Ghana Cedis or USD for US Dollars
      amount: {{order.get_total}} * 100,
      
      metadata: {
         custom_fields: [
            {
                display_name: "teni agana",
                variable_name: "mobile_number",
                value: "+233546024877"
            }
         ]
      },
      callback: function(response){
          datar = response.reference
          $.ajax({
            url: '/verify/'+ datar,
            method: 'GET',

            success: function (response) {
              window.location.href = "/verify/" + datar
            }
          });
      },
      onClose: function(){
          alert('window closed');
      }
    });
    handler.openIframe();
  } 
</script>
{% comment %} <script>
var paymentForm = document.getElementById('paymentForm');
paymentForm.addEventListener('submit', payWithPaystack, false);
function payWithPaystack() {
  var handler = PaystackPop.setup({
    key: 'pk_test_fe0b97bf80222f00414d809661a290f79bb110da', // Replace with your public key
    email: document.getElementById('email-address').value,
    amount: document.getElementById('amount').value * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
    currency: 'USD', // Use GHS for Ghana Cedis or USD for US Dollars
    ref: 'YOUR_REFERENCE', // Replace with a reference you generated
    callback: function(response){
      datar = response.reference
      $.ajax({
        url: '/verify/'+ datar,
        method: 'GET',

        success: function (response) {
          window.location.href = "/verify/" + datar
        }
      });
  },
    onClose: function() {
      alert('Transaction was not completed, window closed.');
    },
  });
  handler.openIframe();
}
</script>
<script>
$(function() {
  $('[data-toggle="tooltip"]').tooltip()
})
</script> {% endcomment %}
{% endblock extra_scripts %}




