{% load cart_template_tags %}
        <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
            <div class="top-bar text-white-50 row gx-0 align-items-center d-none d-lg-flex">
                <div class="col-lg-6 px-5 text-start">
                    <small><i class="fa fa-tag fa-lg  me-2"></i>Free shipping, 30-day return or refund guarantee.</small>
                    {% comment %} <small class="ms-4"><i class="fa fa-envelope me-2"></i>bhdfdhjnkf@gmail.com</small> {% endcomment %}
                </div>
                <div class="col-lg-6 px-5 text-end">
                    <small>Follow us:</small>
                    <a class="text-white ms-3" href=""><i class="fa fa-facebook-f"></i></a>
                    <a class="text-white ms-3" href=""><i class="fa fa-twitter"></i></a>
                    <a class="text-white ms-3" href=""><i class="fa fa-linkedin"></i></a>
                    <a class="text-white ms-3" href=""><i class="fa fa-instagram"></i></a>
                </div>
            </div>