{% extends "store/base.html" %}
{% load bootstrap5 %}

{% block content %}
<section class="breadcrumb-blog set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2></h2>
          </div>
      </div>
  </div>
</section>
  <main>
    <div class="container">

    <h2>Request Refund</h2>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>

    </div>
  </main>

{% endblock content %}


