<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="online store">
    <meta name="keywords" content="online store , market, ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'asset/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'asset/css/style.css' %}" rel="stylesheet">
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                {% if request.user.is_authenticated %}
                <a href="#">Logout</a>
                {% else %}
                <a href="#">Sign in</a>
                <a href="#">Signup</a>
                <a href="#">FAQs</a>
                {% endif %}
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
            {% if request.user.is_authenticated %}
            <a href="#"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>{{ request.user }} </span></a>
            <div class="price">$0.00</div>
            {% else %}
            <a href="#"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>0</span></a>
            {% endif %}
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div> 
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {% if request.user.is_authenticated %}
                                <a href="#">Logout</a>
                                {% else %}
                                <a href="#">Sign in</a>
                                <a href="#">Signup</a>
                                <a href="#">FAQs</a>
                                {% endif %}
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6">
                    <nav class=" mobile-menu">
                        <ul>
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="">developing....</a></li>
                                    <li><a href="">developing....</a></li>
                                    <li><a href="">developing....</a></li>
                                    <li><a href="">developing....</a></li>
                                    <li><a href="">developing....</a></li>
                                </ul>
                            </li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/icon/question.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/icon/phone.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/icon/user.png' %}" alt=""></a>
                        {% if request.user.is_authenticated %}
                        <a href="#"><img src="{% static 'img/icon/cart2.png' %}" alt=""> <span>{{ request.user }} </span></a>
                        <div class="price">$0.00</div>
                        {% else %}
                        <a href="#"><img src="{% static 'img/icon/cart2.png' %}" alt=""> <span></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <a href="#" class="canvas__open5"><img src="{% static 'img/icon/cart2.png' %}" alt=""> <span></span></a>
            <a href="#" class="canvas__open4" ><img src="{% static 'img/icon/question.png' %}" alt=""></a>
            <a href="#" class="canvas__open3"><img src="{% static 'img/icon/phone.png' %}" alt=""></a>
            
            <a href="#" class="canvas__open2" ><img src="{% static 'img/icon/user.png' %}" alt=""></a>
            <div class="canvas__open"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
        {% comment %} {% include 'navbar1.html' %}{% endcomment %}
        {% include 'navbar3.html' %} 
        
        </div>
    </header>
    <!-- Header Section End -->
    
</head>

<body>
    <!-- Page Preloder j-->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    
    <!-- Header Section Begin -->
    <header class="header">
       
        
    </header>
    <!-- Header Section End -->
    <body>
    
    
        {% block content %}
        <div class="mt-5 pt-4">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        {% include "store/footer.html" %}

        
        
    
        {% block extra_scripts %}
        {% endblock extra_scripts %}
        {% endblock content %}


        <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64e60ad994cf5d49dc6c11b3/1h8h9kp6t';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    </body>

    </html>
    