{% block content %}
{% load static %}
    <!-- Footer Section Begin -->
    <footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
								Ipad bag
							</a>
						</li>

						<li class="p-b-10">
							<a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
								Woven bags
							</a>
						</li>

						<li class="p-b-10">
							<a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
								Laptop bags
							</a>
						</li>

						<li class="p-b-10">
							<a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
								Kimono and fabric
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'core:fq' %}" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, Sherigu - Bolgatanga , Upper East or call us on (+233) 54 602 4877
					</p>

					<div class="p-t-27">
						<a href="https://www.facebook.com/loozeeleeinitiative?mibextid=LQQJ4d" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="https://instagram.com/loozeele_initiative?igshid=NTc4MTIwNjQ2YQ==" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="https://x.com/loozeele2020?s=21" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-twitter"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>
					<p>Be the first to know about new arrivals, look books, sales & promos!</p>
					<form action="https://formspree.io/f/mwkdoqbq"
					method="POST">
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="email" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04" type="submit">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="{% static 'img/payment.png' %}"  alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Loozeele Initiative, All rights reserved
				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

    <!-- Search Begin -->

    <!-- Search End -->
   
</body>
</html>
{% endblock content %}