{% extends "cyrus/base.html" %}
{% load static %}
{% block content %}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>About Us</h1>
								<p class="mb-4">CCF was incorporated under the companies’ code of 1963 Act 179 to engage in credit to purchase household appliances and electronic equipment.</p>
								<p><a href="https://play.google.com/store/games?pli=1" class="btn btn-secondary me-2">Get App</a><a href="#" class="btn btn-white-outline">Explore Items</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static "cyrus/images/shop10.png" %}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-lg-6">
						<h2 class="section-title">WHO WE ARE</h2>
						<p>CCF is a leading provider of home appliance, office equipment and building materials on hire purchase terms, offering an extensive line of financing plans to government workers on the Control Accountants General Department & Police Service payroll in Ghana. CCF through hire purchase business has helped thousands of Government workers to realize their dreams. From flexible finance plans, that add peace of mind, our programs are designed to meet the unique needs of consumers. We are committed to offering quality products that provide convenience and value, and to delivering consistent support that helps ensure customer satisfaction.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										------
									</div>
									<h3>Our Vision</h3>
									<p>Our vision is to build a world-class financial services organization.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										------
									</div>
									<h3>Our Mission</h3>
									<p>CCF mission is to be the leading continental trade and finance company, driving economic growth and creating opportunities for businesses and people around the world.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										------
									</div>
									<h3>Hire Purchase Credit Loans</h3>
									<p>CCF Hire Purchase Credit Loan is a loan facility that aims at assisting individual salary workers in both government and private sector (reputable organizations) with products when most needed. With this product, Cyrus Consumer Finance pays for or finances a desired product of a customer for the customer or buyer to pay in regular installments while enjoying the use of it.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										------
									</div>
									<h3>Hassle Free Returns</h3>
									<p>During the repayment period, ownership (title) of the item does not pass to the buyer. Upon the full payment of the loan, the title passes to the buyer.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static "cyrus/images/why-choose-us-img.jpg" %}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start Team Section -->
		<div class="blog-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Meet The Team</h2>
						<p>Product thinking is a critical part of everyone's work at cyrus, from our founders to our diligent teams of master coders, support professional, and thoughtful creatives.</p>
					</div>
				</div>
				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "cyrus/images/post-1.jpg" %}" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "cyrus/images/post-2.jpg" %}" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "cyrus/images/post-3.jpg" %}" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "cyrus/images/post-1.jpg" %}" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "cyrus/images/post-2.jpg" %}" alt="Image" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "cyrus/images/post-3.jpg" %}" alt="Image" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "cyrus/images/post-1.jpg" %}" alt="Image" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "cyrus/images/post-2.jpg" %}" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "cyrus/images/post-3.jpg" %}" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Blog Section -->	
		{% endblock content %}