{% load static %}
<script src="{% static "cyrus/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "cyrus/js/tiny-slider.js" %}"></script>
<script src="{% static "cyrus/js/custom.js" %}"></script>

<script src="{% static "cyrus/shop/js/jquery-3.4.1.min.js" %}"></script>
	<script src="{% static "cyrus/shop/js/popper.min.js" %}"></script>
	{% comment %} <script src="{% static "cyrus/shop/js/bootstrap.min.js" %}"></script> {% endcomment %}
	<script src="{% static "cyrus/shop/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "cyrus/shop/js/jquery.animateNumber.min.js" %}"></script>
	<script src="{% static "cyrus/shop/js/jquery.waypoints.min.js" %}"></script>
	<script src="{% static "cyrus/shop/js/jquery.fancybox.min.js" %}"></script>
	<script src="{% static "cyrus/shop/js/jquery.sticky.js" %}"></script>
	<script src="{% static "cyrus/shop/js/aos.js" %}"></script>
	<script src="{% static "cyrus/shop/js/custom.js" %}"></script>